@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.button {
  border-radius: 5px;
  background-color: white;
  color: black;
  border: 2px solid #008cba;
  transition-duration: 0.4s;
  font-size: 30px;
  cursor: pointer;
  padding: 5px;
  outline: none;
  font-family: "Anton", sans-serif;
}

.button:hover {
  background-color: #008cba;
  color: white;
}

.buttons-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 35px;
  width: 1100px;
  margin: auto;
  margin-top: 30px;
}

#gameover {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
